*,  /* Soft Reset */ 
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --background-screen: #FAFAFA;
  --background-data: #FFFFFF;
  --green: #1ABC9C;
  --text: #333;
  --text-unselected: #C4C4C4;
}

.loginScreen {
  display: flex;
  background-color: var(--background-screen);
  width: 1440px;
  margin: 0 auto;
}

.container-data {
  background-color: var(--background-data);
}
