button:focus { outline: none; }

@keyframes forfront0 {
  0% {transform: translateX(0%) translateY(2px);}
  10% {transform: translateX(20px) translateY(2px);}
  90% {transform: translateX(420px) translateY(2px);}
  100% {transform: translateX(425px) translateY(2px);}
}
.forward0 {
  animation-name: forfront0;
  animation-duration: 1s;
  color: var(--text-unselected);
  font-weight: lighter;
  border: none;
  z-index: 1;
}

@keyframes forfront1 {
  0% {transform: translateX(0%) translateY(2px);}
  10% {transform: translateX(20px) translateY(2px);}
  90% {transform: translateX(380px) translateY(2px);}
  100% {transform: translateX(390px) translateY(2px);}
}
.forward1 {
  animation-name: forfront1;
  animation-duration: 1s;
  color: var(--text-unselected);
  font-weight: lighter;
  border: none;
  z-index: 1;
}

@keyframes forback0 {
  0% {transform: translateX(0%) translateY(2px);}
  10% {transform: translateX(-20px) translateY(2px);}
  90% {transform: translateX(-380px) translateY(2px);}
  100% {transform: translateX(-390px) translateY(2px);}
}
.backward0 {
  animation-name: forback0;
  animation-duration: 1s;
  color: var(--text);
  font-weight: bold;
  z-index: 1;
}

@keyframes forback1 {
  0% {transform: translateX(0%);}
  10% {transform: translateX(-20px);}
  90% {transform: translateX(-420px);}
  100% {transform: translateX(-425px);}
}
.backward1 {
  animation-name: forback1;
  animation-duration: 1s;
  color: var(--text);
  font-weight: bold;
  z-index: 1;
}

@keyframes forup {
  0% {transform: translateY(0%);}
  20% {transform: translateY(-2px);}
  90% {transform: translateY(-3px);}
  100% {transform: translateY(-5px);}
}
.upward {
  animation-name: forup;
  animation-duration: 1s;
}

@keyframes fordown {
  0% {transform: translateY(0%);}
  20% {transform: translateY(3px);}
  70% {transform: translateY(6px);}
  100% {transform: translateY(8px);}
}
.downward {
  animation-name: fordown;
  animation-duration: 1s;
}

@keyframes uppbotton {
  0% {transform: translateY(0px);}
  30% {transform: translateY(2px);}
  31% {transform: translateY(2px);}
  100% {transform: translateY(2px);}
}
.upbotton {
  animation-name: uppbotton;
  animation-duration: 1s;
}

@keyframes downnbotton {
  0% {transform: translateY(0px);}
  30% {transform: translateY(-2px);}
  100% {transform: translateY(-4px);}
}
.upbotton {
  animation-name: downnbotton;
  animation-duration: 1s;
}



@keyframes imgup {
  0% {transform: translateX(-30px) translateY(-30px);}
  15% {transform: translateX(0) translateY(0);}

  90% {opacity: 1; transition: 0.5s opacity, 0.5s visibility;}
  100% {opacity: 0.2;}
}
.img1 {
  animation-name: imgup;
  animation-duration: 3.5s;
}

@keyframes imgdown {
  0% {transform: translateX(30px) translateY(30px);}
  15% {transform: translateX(0) translateY(0);}

  90% {opacity: 1; transition: 0.5s opacity, 0.5s visibility;}
  100% {opacity: 0.2;}
}
.img2 {
  animation-name: imgdown;
  animation-duration: 3.5s;
}